.idea
node_modules/
src/app/app.component.js
src/app/app.component.js.map
src/app/app.component.spec.js
src/app/app.component.spec.js.map
src/app/app.module.js
src/app/app.module.js.map
src/app/memberFunction.service.js
src/app/memberFunction.service.js.map
src/app/memberFunctionData.js
src/app/memberFunctionData.js.map
src/app/memberFunctionHelper.js
src/app/memberFunctionHelper.js.map
src/app/mock-memberFunctions.js
src/app/mock-memberFunctions.js.map
src/main.js
src/main.js.map
